* { margin: 0; 
    padding: 0; } 

  
    #header {
      background-image: url('https://www.teahub.io/photos/full/269-2695264_fondo-madera-morado.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 0px;
      margin-left:0px;
      margin-top: 0px;
      height: 190px;
    }
     
    #header-img {
        position: relative;
        top: 19px;
        bottom: 0px;
        left:1100px;
        border-radius: 50%;
    }


    .general{
        position: relative;
        top: -70px;
        left: 0px;
        
    }    


        
    

    .general2 li{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        display: inline;
        margin:15px;
        margin-top: 0px;
    }

    .inicio,  .nosotros, .proyectos, .blog, .contacto
    {
      color:hsl(0, 0%, 100%);
      font-weight: bolder;
    }



    #fondoOpaco{
        background-image: url('https://wallpapercave.com/wp/wp2662873.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #carouselExampleControls{
        margin-top: 0px;
        margin-right: 300px;
        margin-left: 300px;
    }

    #portafolio{
        background-image: url('https://i.pinimg.com/236x/64/b8/05/64b805115bcea1f055ffef4cd64ce46b.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
    }

    #portafolio-img{
        margin-top: 35px;
        border-radius: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    
    }

    #galeria-img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }