* { margin: 0; 
    padding: 0; } 

    #barrauno{
        color: green;
        margin-right: 0px;
    }

    .textouno{
        background-color: green;
    }

    #header {
      background-color: #ffffff; 
      margin-right: 0px;
      margin-left:0px;
      margin-top: 65px;
    }
     
    #header-img {
        position: relative;
        top: 0px;
        bottom: 0px;
        left:1200px;
    }
    
    .general{
        position: relative;
        bottom: 45px;
        left: 0px;
        
    }

    .general2 li{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        display: inline;
        margin:15px;
    }

    .general2:hover {
      color: hsl(128, 86%, 42%);
    }

    .inicio,  .nosotros, .proyectos, .blog, .contacto
    {
      color:hsl(128, 86%, 42%);
    }

    #carrusel {
        float:left;
        width:600px;
        overflow:hidden;
        height:203px;
        position:relative;
        margin-top:20px;
        margin-bottom:20px;
    }
     
    #carrusel .left-arrow {
        position:absolute;
        left:10px;
        z-index:1;
        top:50%;
        margin-top:-9px;
    }
     
    #carrusel .right-arrow {
        position:absolute;
        right:10px;
        z-index:1;
        top:50%;
        margin-top:-9px;
    }
     
    .carrusel {
        width:4000px;
        left:0px;
        position:absolute;
        z-index:0;
    }
     
    .carrusel>div {
        float: left;
        height: 203px;
        margin-right: 5px;
        width: 195px;
        text-align:center;
    }
     
    .carrusel img {
        cursor:pointer;
    }
     
    .product {
        border:#CCCCCC 1px solid;
    }