* { margin: 0; 
    padding: 0; } 

    body{
        margin-right: 0px;
        margin-left: 0px;
    }

    #logoInicio{
        border-radius: 50%;
        
    }

    .container-fluid{
        margin-top: -100px;
        margin-left:210px;
    }

    /*#header {
      background-image: url('https://www.teahub.io/photos/full/269-2695264_fondo-madera-morado.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 0px;
      margin-left:0px;
      margin-top: 0px;
      height: 190px;
    }*/
     
    /*#header-img {
        position: relative;
        top: 19px;
        bottom: 0px;
        left:1100px;
        border-radius: 50%;
    }*/


    /*.general{
        position: relative;
        top: -70px;
        left: 0px;
        
    }*/   


    /*.general2 li{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        display: inline;
        margin:15px;
        margin-top: 0px;
    }*/

   /* .inicio,  .nosotros, .proyectos, .blog, .contacto
    {
      color:hsl(0, 0%, 100%);
      font-weight: bolder;
    }


    #fondoOpaco{
        background-image: url('https://wallpapercave.com/wp/wp2662873.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }*/

    #carouselExampleControls{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    #portafolio{
        background-image: url('https://i.pinimg.com/236x/64/b8/05/64b805115bcea1f055ffef4cd64ce46b.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }

    #portafolio-img{
        margin-top: 35px;
        border-radius: 0%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    
    }

    #galeria-img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #logoredes{
        border-radius: 50%;
    }

    @media (min-width:801px){
        .container-fluid{
            margin-top: -100px;
            margin-left:450px;
            margin-right: 200px;
            font-weight:bold;
            
        }

        .navbar{
            background-image: url('Fondos/fondo-madera-morado.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            
        }

        p{
            color: rgb(253, 253, 253);
        }

        #carouselExampleControls{
            margin-top: 0px;
            margin-right: 350px;
            margin-left: 350px;
        }

        .d-block {
            height: 500px;
        }

    }

    @media (max-width:320px){
        .container-fluid{
            margin-top: -100px;
            margin-left:190px;
            margin-bottom: -30px;
        }

        .container-fluid{
            
            margin-bottom: -25px;
        }

    }
