* { margin: 0; 
    padding: 0; } 

    body{
        margin-right: 0px;
        margin-left: 0px;
    }

    #logoInicio{
        border-radius: 50%;
        
    }

    .container-fluid{
        margin-top: -100px;
        margin-left:210px;
    }

    #logoredes{
        border-radius: 50%;
        margin-right: 5px;
    }

    /*.card {
        margin-top: 50px;
    }*/

    @media (max-width:320px){
        .container-fluid{
            margin-top: -100px;
            margin-left:190px;
            margin-bottom: -20px;
        }
    }