* { margin: 0; 
    padding: 0; } 

    body{
        margin-right: 0px;
        margin-left: 0px;
    }

    #logoInicio{
        border-radius: 50%;
        
    }

    .container-fluid{
        margin-top: -100px;
        margin-left:210px;
    }

    #logoredes{
        border-radius: 50%;
        margin-right: 5px;
    }

    /*.card {
        margin-top: 50px;
    }*/

    @media (max-width:320px){
        .container-fluid{
            margin-top: -100px;
            margin-left:190px;
            margin-bottom: -20px;
        }
    }

    @media (min-width:801px){
        .container-fluid{
            margin-top: -100px;
            margin-left:450px;
            margin-right: 200px;
            font-weight:bold;
        }

        .navbar{
            background-image: url('Fondos/9962-azul-liso.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 20px;
            padding-bottom: 20px;
            
        }

        .cabezote{
            color:#ffffff;
            font-weight:unset;   
        }

        p{
            color: rgb(0, 0, 0);
        }

    }
